body,
html {
    height: 100%;
    background-color: #f2f3f4;
    color: #4d4d4d;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container {
    padding: 70px 15px 20px;
}

.wrap-2 {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 0px;
}

.wrap-2 > .container {
    padding: 70px 15px 20px;
}

.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}
.footer {
    background-color: #fff;
    height: auto;
}
.footer .copyright {
    margin-bottom: 20px;
}
.footer-1-title {
    margin-top: 30px;
}
.footer h3 {
    font-weight: 500;
    color: #316a29;
}
.footer ul li, .footer ul li a {
    list-style: none;
    color: #333;
    line-height: 1.6;
    text-decoration: none;
}
.footer ul li a:hover {
    color: #009688;
}
.footer ul {
    margin-left: -38px;
}
.footer p a {
    color: #009688;
    text-decoration: none;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
    margin-bottom: 0px;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after,
a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    /*"\e113"*/
    content: "\e151";
}

a.desc:after {
    /*"\e114"*/
    content: "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px;
}

/* align the logout "link" (button in form) of the navbar */
.nav li > form > button.logout {
    padding: 15px;
    border: none;
}

.nav > li > form > button.logout:focus,
.nav > li > form > button.logout:hover {
    text-decoration: none;
}

.nav > li > form > button.logout:focus {
    outline: none;
}

.text-50 {
    font-size: 50px;
}

.text-32 {
    font-size: 32px;
}

.text-18 {
    font-size: 18px;
}

.text-16 {
    font-size: 16px;
}

.text-green {
    color: #316a29;
}

.text-semibold {
    font-weight: 600;
}

.btn-success {
    background: #00796B;
    color: #fff;
    border-color: #00796B;
}

.btn-success:hover {
    background: #00695C;
    border-color: #00695C;
}

.progress-bar {
    background-color: #4DC7A0;
}
.progress {
    /*background-color: #fff;*/
}

.navbar-default {
    background: #fff;
}

.navbar-default .navbar-toggle {
    border-color: transparent;
    margin-top: 14px;
}

.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
    border-color: transparent;
    background-color: transparent;
}

.owl-carousel {
    position: relative;
}
.owl-next,
.owl-prev {
    position: absolute;
    top: 50%;
    margin-top: -10px;
    /* Half of the prev/next buttons height here in negatives to center them perfectly*/
}
.owl-prev {
    left: 0;
}
.owl-next {
    right: 0;
}
.owl-carousel .owl-item img {
    height: 260px;
    width: 80%;
    margin-left: 10%;
}

.owl-carousel .owl-nav button.owl-next,
.owl-carousel .owl-nav button.owl-prev,
.owl-carousel button.owl-dot {
    font-size: 20px;
    margin-top: -15px;
}

.owl-carousel .owl-nav button.owl-next:hover,
.owl-carousel .owl-nav button.owl-prev:hover {
    background: none;
    color: #5cb85c;
}

@media(max-width:767px) {
    .nav li > form > button.logout {
        display: block;
        text-align: left;
        width: 100%;
        padding: 10px 15px;
    }
}

.borderless td, .borderless th {
    border: none;
}
